// B&W
$black: #000;
$white: #fff;

// Greys
$grey-darker:   #595959;
$grey-dark:     #cdcdcd;
$grey-light:    #ededed;
$off-black:     #111111;

// Other colors.
$orange-primary: #eb6412;
$orange-secondary: #ee8b30;
$green-primary: #1ca975;
$green-secondary: #017e7a;
$red-secondary: red;
$red-primary: red;